.gradient {
  background: radial-gradient(circle at 10% 50%, #cccbe2 0%, transparent 80%),
    radial-gradient(circle at 10% 70%, #d8d7fe 0%, transparent 90%),
    radial-gradient(circle at 20% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 30% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 40% 60%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 60% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 70% 80%, #d8d7fe 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, #d8d7fe 0%, transparent 50%);
  background-color: #0012e6;
  padding-top: 80px;
  padding-bottom: 80px;
}
.flexContainerSec5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 30px;
}

.leftSideSec5 {
  width: 25%;
}
.leadersImage {
  border-radius: 15px;
}
.rightSideSec5 {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
.designation {
  font-size: 14px !important;
  color: #000;
}
.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  font-weight: bold;
}
.leadersDescription {
  font-size: 16px;
  color: #000;
}

@media (max-width: 768px) {
  .flexContainerSec5 {
    padding-left: 0;
  }
  .leftSideSec5,
  .rightSideSec5 {
    width: 100%;
  }
  .leftSideSec5 {
    display: flex;
    justify-content: center;
  }
  .designation {
    display: flex;
    justify-content: center;
  }
  .name {
    display: flex;
    justify-content: center;
  }
  .leadersDescription{
    display: flex !important;
    justify-content: center !important;
  }
  
}

@media (max-width: 700px) {
.gradient {padding-top: 40px;
  padding-bottom: 40px;}
}