.exploreMain {
  padding-top: 80px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 80px;
}
.otherService {
  color: #ed1651;
}
.imageDescriptioStyle {
  color: #000;
}
.heading {
  font-size: 28px;
  margin-bottom: 40px;
}
.sliderStart {
  position: relative;
  margin-top: 30px;
}
.sliderMain {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.servicesHeading {
  margin-top: 90px;
  color: #2a2070;
  margin-bottom: 30px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ImageTitleandDescription {
  display: flex;
  align-items: center;

  gap: 5px;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.imageMain {
  position: relative;
  width: 50%;
  max-height: 280px;
  overflow: hidden;
  border-radius: 10px;
  width: 40%;
}
.arrowButtonStyle {
  color: #25247b;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleService {
  padding-left: 6px;
  font-size: 18px;
  font-weight: bold;
  color: #2a2070;
}
.knowMoreButton {
  font-weight: 600;
  color: #ed1651;
}
.knowMoreButton:hover {
  color: #ed1651 !important;
  text-decoration: underline;
}
.bothButtons {
  margin-top: 20px;
  margin-bottom: 20px;
  bottom: 10px;
  right: 0px;
  display: flex;
  justify-content: right;
  gap: 10px;
}
.pagination {
  color: #58585a;
  padding-top: 6px;
  font-size: 14px;
}
.gradient {
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(circle at 10% 50%, #cccbe2 0%, transparent 80%),
    radial-gradient(circle at 10% 70%, #d8d7fe 0%, transparent 90%),
    radial-gradient(circle at 20% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 30% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 40% 60%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 60% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 70% 80%, #d8d7fe 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, #d8d7fe 0%, transparent 50%);
  background-color: #0012e6;
}
.slideItem {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 769px) {
  .slideItem {
    gap: 20px;
  }
  .ImageTitleandDescription {
    width: 100%;
  }
  .imageMain {
    width: 100%;
  }
}
