.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 12px;
}
.wwsfCard {
  flex: 1 1 250px;
  max-width: 300px;
  text-align: center;
  color:#fff
}
.wwsfImage {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}
.leftSection {
  flex: 1;
  max-width: 25%;
  min-width: 200px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
   display: flex;
    justify-content: left !important;
    width: 100%;
    max-width: 100%;
}
.rightSection {
  flex: 3;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap; 
}
.flexContainerSec4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  padding-top: 80px;
  color:#fff
}

.leftSideSec4 {
  width: 25%;
  font-size: 26px;
  font-weight: bold;
}

.rightSideSec4 {
  width: 70%;
}


.card {
  padding: 16px;
  max-width: 300px;
  margin: 10px;
  flex: 1;
  min-height: 280px;
  box-sizing: border-box;
  background-color: #45458f;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.title {
  margin: 12px 0 8px;
  font-size: 3rem;
  font-weight: 1000px;
  color: #fff;
}
.description {
  color: #fff;
  position: relative;
  bottom: -70px;
  left: 0px;
  font-weight: 500px;
  font-size: 24px;
}





@media (max-width: 768px) {

  .card {
    flex: 1 1 45%;
    max-width: 100%;
    padding: 1.25rem;
    height: 300px;
  }
  .description {
    font-size: 24px;
  }
  .title {
    font-size: 3rem;
  }
  .leftSideSec4,
  .rightSideSec4 {
    width: 100%;
  }
   .flexContainer {
    flex-direction: column;
  }
 .wwsfCard {
  padding-top: 20px;
 }
 
  .rightSection {
      gap: 0.75rem;
    padding: 1rem 0.5rem;
    width: 70%;
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
    padding: 1rem;
    height: 200px !important;
  }
  .description {
    font-size: 24px;
  }
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .flexContainer {
    flex-direction: column;
  }
 
}

@media (max-width: 700px) {
  .flexContainer {
    padding-top: 10px;
  }
  .flexContainerSec4 {
 padding-top: 10px;}
}

@media (max-width: 600px) {
  .wwsfCard {
    
    width:100%
  }
}
