.pagebannerContainer {
   position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}
.pageBannerImg {
   width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}
.pagebannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
}

.pagebannerdescription{
  margin: 0;
  font-size: 2.5rem;
  color: #fff;
}
.servicePagecolorText {
  font-size: 16px;
  color: #ed1651;
}
.servicePagebannerText p {
  margin: 0;
}
.servicePageExplanation {
  font-size: 16px;
  min-height: 180px;
}
.servicePagebannerText h5 {
  margin: 10px 0 0;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<PowerPlatform >>>>>>>>>>>>>>>>>>>>>>>>>*/
.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.heading {
  font-size: 28px;
}
.powerdescription {
  font-size: 16px;
  width: 80%;
}

.imageGrid img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (max-width: 1000px) {
  .imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .powerdescription {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .imageGrid {
    grid-template-columns: 1fr;
  }
  .pageBannerImg {
   width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}
  .pagebannerText {
    padding: 0.5rem 1rem;
    width: 80%;
  }
  .pagebannerdescription {
    font-size: 1.6em;
  }
}
.sectionStart {
padding-top: 80px;
padding-bottom: 80px;
  background: radial-gradient(circle at 10% 50%, #cccbe2 0%, transparent 80%),
    radial-gradient(circle at 10% 70%, #d8d7fe 0%, transparent 90%),
    radial-gradient(circle at 20% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 30% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 40% 60%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 60% 70%, #d8d7fe 0%, transparent 60%),
    radial-gradient(circle at 70% 80%, #d8d7fe 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, #d8d7fe 0%, transparent 50%);
  background-color: #0012e6;
}
