.exploreMain {
  padding-top: 80px;
  padding-bottom: 80px;
}
.heading {
  margin-bottom: 30px;
  color: #fff;
}
.leftSide {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 24px;
}
.otherService {
  color: #ed1651;
}
.imageDescriptioStyle {
  color: #7a7a7a;
  margin-bottom: 0px;
  font-weight: 700;
}
.company {
  color: #7a7a7a;
  margin-top: 0px;
}
.sliderMain {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.servicesHeading {
  margin-top: 90px;
  color: #2a2070;
  margin-bottom: 30px;
}
.secDesc {
  display: flex;
  width: 100%;
}
.arrowButtonStyle {
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleService {
  padding-left: 6px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  height: 220px;
}
.knowMoreButton {
  font-weight: 600;
  color: #ed1651;
}
.knowMoreButton:hover {
  color: #ed1651 !important;
  text-decoration: underline;
}
.bothButtons {
  margin-top: 20px;
  margin-bottom: 20px;
  bottom: 10px;
  right: 0px;
  display: flex;
  justify-content: left;
  gap: 60px;
  color: #fff;
}
.pagination {
  color: #58585a;
  padding-top: 6px;
  font-size: 14px;
}
.ourClient {
  width: 35%;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.slideItem {
  display: flex;
  min-height: 380px;
  flex-direction: column;
  margin: 0 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
@media (max-width: 769px) {
  .slideItem {
    gap: 20px;
    padding: 1rem;
  }
  .ImageTitleandDescription {
    width: 100%;
  }
  .secDesc {
    display: block;
  }
  .quoteImage {
    height: 30px;
    width: 30px;
  }
  .ourClient {
    width: 95%;
    margin-left: 10px;
  }
  .leftSide {
    width: 100%;
  }
  .bothButtons {
    display: none;
  }
}
