.rightSideImage {
  height: 100%;
  object-fit: cover;
}
.highLightColor {
  color: #ed1651;
}
.imageDropDown {
  border-radius: 16px;
  height: 400px;
  width: auto;
}
.exploreOther {
  color: #fff;
}
.exploreOther:hover {
  color: #fff;
}
.arrowShown {
  padding-left: 5px;
  font-size: 14px;
}
.mainHead {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.heading {
  font-size: 28px;
  margin-bottom: 40px;
  color: #fff;
}
.technologyPartner {
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 40px;
}
.cardTitle {
  color: #fff;
  font-size: 18px;
}
.description {
  padding: 10px;
  background: #000;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: 400px;
}
.cardgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}
.card {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.titleOverlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  z-index: 3;
  font-size: 14px;
  width: fit-content;
  border-bottom-right-radius: 6px;
}
.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease, filter 0.6s ease, opacity 0.6s ease;
  z-index: 1;
  overflow: hidden;
}
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: left bottom;
  transition: transform 0.6s ease, filter 0.6s ease;
}
.cardText {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.4s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  backdrop-filter: blur(0px);
}
.card:hover .imageContainer {
  background-color: transparent;
  transform: scale(1.5) translate(20%, 20%);
  filter: blur(12px);
  opacity: 10;
}
.card:hover .titleOverlay {
  padding-bottom: 10px;
}
.card:hover .cardText {
  left: 0;
}
.cardText p:last-child {
  position: absolute;
  bottom: 20px;
  right: 30px;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
}
.rightImage {
  width: 50%;
  border-radius: 20px;
}
.imageShow {
  display: none;
}
.leftDescription {
  width: 40%;
}
.mainSection1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .imageShow {
    height: 300px;
    object-fit: contain;
  }
}
@media (max-width: 800px) {
  .imageShow {
    display: block;
    margin: 20px auto;
    border-radius: 16px;
    object-fit: contain;
  }
  .rightImage {
    display: none;
  }
  .leftDescription {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .titleOverlay {
    font-size: 14px;
    padding: 8px 12px;
  }
  .cardText {
    padding: 15px;
    font-size: 14px;
  }
}
